[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
lxml = "*"
numpy = "*"
matplotlib = "*"
peewee = "*"
pymysql = "*"

[requires]
python_version = "3.6"
